.header{
    background-color: #0d060c;
}

.header_wrapper{
    max-width: 800px;
    margin: 0px auto;
}

.header_img{
    width: 230px;
    filter:invert(100%);
}

.header_img_sp{
    width: 150px;
    filter: invert(100%);
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul li{
    padding: 10px 20px;
    flex: 1;
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    color: #f2f9f3;
    text-decoration: none;
}