.layout{
    color: #f2f9f3;
    background-color: #251e24;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}