.layout_index{
    color: #f2f9f3;
    background-color: #251e24;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.layout_index main{
    height: calc( 100vh - 80px );
    display: flex;
    justify-content: center;
    align-items: center;
}